package layout

templ Main() {
    <html>
        <head>
        <title>My App</title>
        </head>
        <body>
        <div id="content">
            {content}
        </div>
        </body>
    </html>
}